*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#root {
    background-color: hsl(0, 0%, 100%);
    color: #676c6f;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #34383c;
    font-weight: 600;
    margin: 0;
}

dd,
em,
strong {
    font-style: normal;
    font-weight: 500;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    
}

.main {
    margin-top: -.5rem;
    padding: 1.25rem 2.5rem;
    padding-bottom: 6.5rem;
    padding-top: 0;
}

.page {
    margin-top: 5.5rem;
    position: relative;
    z-index: 99999;
}

.page-header {
    margin-top: -1rem;
    text-align: center;
}

.page-title {
    font-size: 2.25rem;
    color: #34383c;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    margin: .67em 0;
    margin-bottom: 3.25rem;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task-bg {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #139baa;
}

.task-id {
    font-weight: 600;
    color: #139baa;
}

.task-text {
    width: 60%;
    white-space: nowrap;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    font-size: 12px;
}

.details > span {
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
}

.details input {
    margin: 0 0.25rem 0 0;
}

.actions {
    display: flex; 
    justify-content: flex-end;
    width: 30%;
    font-size: 12px;
}

.actions > span {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.actions > span:hover {
    cursor: pointer;
}

.filters {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.filter-button {
    font-size: 12px;
    color: #112caf;
    border-radius: 6px;
    border: 1px #112caf solid;
    padding: .5em 1em;
    text-decoration: none;
    cursor: pointer;
    background-color: #e5edff;
    transition: background-color,border-color;
    transition-duration: .2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-form, .search-filter, .update-form {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: inherit;
    font-size: 14px;
}

.form-input {
    background-color: #fff;
    border: 1px #676c70 solid;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    font-weight: 500;
    line-height: 1.618em;
    margin: 0;
    padding: .382em 1em;
    transition: box-shadow ease-in-out .15s;
    width: 100%;
}

.form-input:focus {
    outline: 0;
    border: 1px #5cebdf solid;
    box-shadow: 0 0 1px 2px #5cebdf;
}

.input-button {
    color: #054861;
    border-radius: 4px;
    border: 1px #5cebdf solid;
    padding: .5em 1em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: #5cebdf ;
    transition: background-color,border-color;
    transition-duration: .2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-input-wrapper {
    width: 70%;
}